.AddAssessmentButton, .AddAssessmentButton-removable {
    border-radius: 3px;
    height: 150px;
    width: 300px;
    margin: 10px auto;
    text-align: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);

    .assessment-button-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 5px;
    }

    .assessment-button-top p {
        padding-right: 5px;
    }

    i {
        padding-left: 5px;
    }
}

.AddAssessmentButton:hover, .AddAssessmentButton-removable:hover {
    cursor: pointer;
    background-color: $dark-blue;
}
.AddAssessmentButton-link {
    margin-bottom: -25px;
    border: $main-blue 1px solid;
    border-radius: 3px;
    height: 10%;
    width: 90%;
    text-align: center;
    align-items: center;
    padding: 10px;
    margin: 10px auto;
}
.assessment-button-top-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 5px;
}
.title-link {
    color: $main-blue;
}
#assessment-link-input{
    width: 100%;
    border: none;
    background: transparent;
    color: white;
    align-content: center;
}
.assessment-link-container {
    display: flex;
}
button.btn {
    background: transparent;
    border: none;
}
.clipboard-button {
    height: 25px;
}

.AddAssessmentButton {
    border: 1px solid $off-white;
}

.AddAssessmentButton-removable {
    border: 1px solid $main-blue;
    color: $main-blue;
}
#snackbar-copied {
    visibility: hidden; 
    min-width: 250px; 
    margin-left: -125px; 
    background-color: $dark-blue; 
    color: #fff; 
    text-align: center; 
    border-radius: 2px; 
    padding: 16px; 
    position: fixed; 
    z-index: 1; 
    left: 50%;
    bottom: 30px; 
}
#snackbar-copied.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}