.assessment-button {
    margin-bottom: 25px;
    border: 1px solid black;
    height: 150px;
    width: 400px;
    margin: auto;
    text-align: center;
    align-items: center;
}

.assessment-button-top {
    display: flex;
    justify-content: space-between;
    padding-right: 5px;
}

.assessment-button:hover {
    cursor: pointer;
}

.assessment-button i {
    padding-right: 5px;
}