.popup-title-container{
    width: 97%;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}
.close-modal{
    font-size: .9em; 
    font-weight: bold;
}
.close-modal:hover{
    cursor: pointer;
}
.confirmSubmit-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.confirmSubmit-subtitle{
    text-align: left;
    margin-left: 10px;
}
.confirmSubmit-results-container{
    height: 60%;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.infoToSubmit-container{
    display: flex;
    flex-direction: column;
}
.infoToSubmit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 5px;
    margin-top:20px;
    margin-bottom: 20px;
}
.infoToSubmit input {
    border: none;
    border-bottom: 1px solid grey;
    color: #e3e3e3;
    font-size: 1em;
    width: 140px;
    height: 30px;
    margin: 5px;
    margin-left: 15px;
    text-align: center;
    background-color: transparent;
}
input:focus {
    outline: none;
}
.confirmSubmit-button{
    margin: 5px;
    width: 200px;
    height: 30px;

}
.button-container{
    align-self: center;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    width: 80%;
    justify-content: space-between;
}