
.confirmSubmit-results-container{
    height: 60%;
}
.infoToSubmit-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    height: 20%
}
.infoToSubmit-container input {
    border: 1px solid black;
    border-radius: 3px;
    width: 200px;
    height: 20px;
    margin: 5px;
    margin-left: 15px;
    text-align: center;

}
.infoToSubmit-container label {
    margin: 5px;
    margin-top: 10px;
    font-size: .9em;
}
.confirmSubmit-button{
    width: 200px;
    height: 40px;
    margin:20px;
}