.AddRemoveAll {
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        padding-right: 5px;
    }
    
    :hover {
        cursor: pointer;
    }
}

.AddRemoveAll-invisible {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

