button.run{
  margin-top:10px;
  width: 60px;
  border: 2px solid black;
  border-radius: 4px;
  font-size: 1em;
  font-weight: bold;
}
button.run:hover{
  cursor: pointer;
  background-color:#09094A;
  color:white;
  border-color:#09094a;
}
<<<<<<< HEAD
=======
.editor-container {
  margin-right: 100px;
  max-width: 500px;
  width: 37%;
  margin-left: 100px;
}
>>>>>>> 198bcc6c928e36cdc5017405e2f5daa3f9b2adc4
