.codeEditor-container{
   height: 80vh;
   display: flex;
   flex-direction: column;
   align-items: center;
}
@media (max-width: 1060px){
  .codeEditor-container{
    height: 100%;
  }
}
@media (max-width: 759px){
  .codeEditor-container{
    height: 50vh;
  }
}
.buttonContainer{
  border:none;
  display:flex;
  width:100%;
}
.submitButtonContainer{
  width:100%;
}
.submitButtonContainer button:first-child{
  border:none;
  color: white;
  padding:10px 0px;
  font-size:  30px;
  background: #56B560;
  border-radius: 0px;
  width: 100%;
}

.buttonContainer button:hover{
  background: #3e8745;
  cursor: pointer;
}
.buttonContainer .next{
  border:none;
  color: white;
  padding:10px 0px;
  font-size:  30px;
  background: #56B560;
  border-radius: 0px;
  width: 100%;
}

.buttonContainer .next:hover{
  background:#3e8745;
}
.buttonContainer .run{
  border:none;
  color: white;
  padding:10px 0px;
  font-size:  30px;
  background: #01313F;
  border-radius: 0px;
  width: 100%;
}
.buttonContainer .run:hover{
  background:#002028;
}