.header-body {
    height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #021e22;
}

.sexy_line {
    display: block;
    border: none;
    color: white;
    height: 1px;
    background: black;
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 930, from(#328cc1), to(#011518));
}

.header-logo {
    background-image: url('./assets/dm-Logo-blue.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 40px;
    width: 50px;
    margin-left: 55px;
    margin-right: 15px;
}

.header-title {
    color: #fff;
    font-size: 1.2em;
    margin-left: 5px;
    letter-spacing: .07em;
}