.add-all-assessments {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-all-assessments i {
    padding-right: 5px;
}

.add-all-assessments:hover {
    cursor: pointer;
}