.AssessmentList {
    text-align: center;
    background-image: url('./assets/Ellipse.png');
    color: #e3e3e3;

    .assessments-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width: 65%;
        max-width:980px;
    }
    .assessments-list-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .add-remove-all {
        display: flex;
        padding-right: 5px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    
    i:hover {
        cursor: pointer;
    }

    //search box
    #search-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    #search-box i {
        padding-right: 5px;
    }

    #search-box i:hover {
        cursor: default;
    }
    
    .search-input {
        background-color: transparent;
        border: none;
        border-bottom: 1px $main-blue solid;
        caret-color: $main-blue;
        color: $main-blue;
        width: 50%;
        margin-right: 32px;
        height: 50px;
        -webkit-transition: all .3s ease;
        -moz-transition: all .3s ease;
        transition: all .3s ease;
        font-size: 200%;
    }

    .search-input:focus {
        width: 60%;
    }

    .search-input:focus {
        outline: none;
    }

    ::placeholder {
        color: $main-blue;
    }
    
    //slide

    .slide-up-container-false {
        box-sizing: border-box;
        position: fixed;
        height: 45px;
        background: transparent;
        width: 40%;
        bottom: 0;
        left: 30%;
        transition: height 1s;
        min-width: 320px;
        word-wrap: break-word;
        border: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 930, from(#328cc1), to(#011518)) 1px solid;
    }
    
    .slide-up-container-true {
        box-sizing: border-box;
        position: fixed;
        height: 75vh;
        background: #021e22;
        width: 40%;
        bottom: 0;
        left: 30%;
        transition: height 1s;
        min-width: 320px;
        word-wrap: break-word;
        border: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 930, from(#328cc1), to(#011518)) 1px solid;
    }
    
    .slide-up-button {
        width: 100%;
        font-size: 20px;
        border: solid 1px #073857;
        background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 930, from(#328cc1), to(#011518));
        color: white;
        border-radius: 4px 4px 0px 0px;
        padding: 10px 0px;
        min-height: 40px;
        cursor: pointer;
    }
    @media (max-width: 450px) {
        .add-remove-all {
            position: fixed;
            bottom: 50px;
        }
    }
    @media (max-width: 450px){
        .slide-up-container-true {
            width: 100%;
            left: 0px;
        }
        .slide-up-container-false {
            width: 100%;
            left: 0px;
        }
}

}