.assessments-page {
    text-align: center;
}

.assessment {
    margin-bottom: 10px;
    display: flex;
}

// .assessment:hover {
//     cursor: pointer;
// }

.assessments-list {
    display: inline-block;
    text-align: left;
}

#search-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

#search-box > p {
    padding-right: 5px;
}

.assessments-page i:hover {
    cursor: pointer;
}

// .assessments-page p {

// }