/*  colors:  Main Blue : #328cc1
             Dk Blue:   #073857
             Red:       #CA4B43
             Green:     #477A26
             Yellow:    #D9B310
 */            

 body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
h1 {
  font-weight: 700;
  color: #328cc1; 
}

h2 {
  font-weight: 300;
  color: #328cc1
}

.q-answer {
  font-family: 'Roboto', sans-serif;
  color: #1E262B;
}
.q-text {
  font-family: 'Open Sans', sans-serif;
  color: #073857;
}

.button {
  margin-top: 10px;
  width:40%;
  border: solid 1px #D9B310;
  border-radius: 5px;
  background: #328cc1;
  color: white;
  padding: 10px;
}
