body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Nunito', sans-serif;
}

.assessments-page {
  text-align: center;
}

.assessments-list {
  display: flex;
  text-align: left;
}

#search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-box > p {
  padding-right: 5px;
}

.assessments-page i:hover {
  cursor: pointer;
}

.assessment-button {
  margin-bottom: 50px;
  display: flex;
  border: 1px solid black;
  height: 75px;
  width: 200px;
  margin: auto;
  text-align: center;
  align-items: center;
}

.assessment-button:hover {
  cursor: pointer;
}

.assessment-button i {
  padding-right: 5px;
}

.add-remove-all {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-remove-all i {
  padding-right: 5px;
}

.add-remove-all:hover {
  cursor: pointer;
}
