.assessments-page {
  text-align: center;
}

.assessments-list {
  display: flex;
  text-align: left;
}

body {
  margin: 0px;
}

#search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

#search-box > p {
  padding-right: 5px;
}

.assessments-page i:hover {
  cursor: pointer;
}

.assessment-button {
  margin-bottom: 50px;
  display: flex;
  border: 1px solid black;
  height: 75px;
  width: 200px;
  margin: auto;
  text-align: center;
  align-items: center;
}

.assessment-button:hover {
  cursor: pointer;
}

.assessment-button i {
  padding-right: 5px;
}

.add-remove-all {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center ;
  pointer-events: all;
}
.popup-content{
  height: 500px;
  width: 600px;
  opacity: 1;
  border-radius: 5px;
  background-color: white;
  color: #333;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.submit-button-green{
  background-image:linear-gradient(65deg ,rgb(119, 216, 55), rgb(152, 212, 112));
  border: 2px solid black;
  border-radius: 4px;
  font-size: .8em;
  font-weight: bold;
}

.add-remove-all i {
  padding-right: 5px;
}

.add-remove-all:hover {
  cursor: pointer;
}
