.assessment-progress-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-top: 10px;
}
.assessment-progress-title{
    text-align: center;
}
.question-result-box{
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
.question-link:hover {
    cursor: pointer;
}
.assessment-progress-submit-button{
    text-align: center;
    margin-top: 20px;
    margin-left: -10px;
    width: 100%;
}
.assessment-progress-submit-button button {
    padding: 7px;
}
@media (max-width: 1060px){
    .assessment-progress-container{
        width: 100%;
        flex-direction: row;
    }
    .question-result-box{
        margin-left: 20px;
    }
    .assessment-progress-submit-button{
        align-self: flex-end;
        width: 300px;
        margin-top: 7px;
        margin-bottom: 10px;
    }
    .assessment-progress-title{
        margin-top: 10px;
        width: 350px;
    }
}
@media (max-width: 645px){
    .questions-results-container{
        flex-wrap: wrap;
    }
    .assessment-progress-submit-button{
        display: none;
    }
    .assessment-progress-title{
        width: 220px;
    }
}